body {
  margin: 0;
  overflow: hidden;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
#websocket-pie-connection-status {
  z-index: 1;
}
body.route-Underworld #underworld-container {
  display: flex;
}
#underworld-container {
  min-height: 100vh;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.doob-stats {
  margin-top: 70px;
  margin-left: 10px;
}

.floating-text {
  position: absolute;
  transform: translateX(-50%);
  z-index: 1;
  pointer-events: none;
  user-select: none;
}

#upgrade-picker {
  position: fixed;
  top: 80px;
  bottom: 80px;
  left: 80px;
  right: 80px;
  z-index: 1;
  /* default to hidden */
  display: none;
}
#upgrade-picker.active {
  display: block;
}
#upgrade-picker-content {
  justify-content: center;
  align-items: center;
  display: flex;
}
#upgrade-picker-label {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 24px;
}
#upgrade-picker .card {
  width: 100%;
  max-width: 300px;
  margin: 8px;
}
#upgrade-picker .card-inner {
  height: 500px;
  width: 100%;
}
#upgrade-picker .card-title {
  text-align: center;
  color: white;
}
#upgrade-picker .card-thumb {
  height: 180px;
}
body.inspect-mode {
  cursor: help;
}
body.inspect-mode #card-inspect {
  display: flex;
}
#card-inspect {
  /*Hidden until inspect-mode reveals it*/
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
#card-inspect .card-inner {
  width: 300px;
  height: 400px;
  border-width: 6px;
}
#card-inspect .card-inner .card-thumb {
  height: 150px;
}
#card-holders {
  user-select: none;
  position: fixed;
  bottom: 30px;
  left: 80px;
  right: 80px;
  z-index: 1;
  height: 100px;
  display: flex;
  flex-direction: column-reverse;
}
#card-holders #selected-cards,
#card-holders #card-hand {
  display: flex;
  width: 100%;
}
#card-hand {
  /* This prevents the card-hand from disappearing when all cards are selected */
  min-height: 103px;
}
/* The "card" width is very thin to allow them to stack.  The card-inner is what
actually contains the full width of the card. */
#card-hand .card {
  width: 3px;
}
#card-hand .card img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
#card-hand .card.selected {
  visibility: hidden;
  /* position: relative;
  top: -100px; */
}
#card-hand .card.selected .card-inner {
  -webkit-box-shadow: 0px 0px 5px 5px #ffee00;
  box-shadow: 0px 0px 5px 5px #ffee00;
}
#selected-cards.hide {
  filter: grayscale(50%);
  opacity: 50%;
}
/* The group of similar cards has a padding the same size as the width of a card inner so that
the face of the last card in the group is seen*/
.card-type-group {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 70px;
  margin-right: 3px;
}
.card-type-group:empty {
  padding-right: 0;
  margin-right: 0;
}
.card {
  cursor: pointer;
}
#card-holder .card {
  padding: 8px;
  margin: 8px;
  width: 225px;
  height: 350px;
  background-color: white;
  border-radius: 10px 10px;
  pointer-events: all;
  display: flex;
}
.card-inner {
  width: 70px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px 4px;
  flex-direction: column;
  flex-grow: 1;
  background-color: #68c668;
}
.card-thumb {
  background-color: white;
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-thumb img {
  width: 64px;
  height: 64px;
}
#card-inspect .card-thumb img {
  width: 128px;
  height: 128px;
  image-rendering: pixelated;
}
.card-title {
  font-size: 12px;
  flex-grow: 3;
  padding: 8px;
  color: white;
  text-align: center;
}
#card-inspect .card-title {
  font-size: 30px;
  font-weight: bold;
}
.card-description {
  /* Only shows within card-inspect*/
  display: none;
  flex-grow: 3;
  padding: 8px;
  color: white;
  text-align: center;
}
#card-inspect .card-description {
  display: block;
}

/* Hide end turn button until it is your turn */
#player-turn-indicator-holder {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  pointer-events: none;
  background-color: grey;
  user-select: none;
}
#player-turn-indicator-holder > div {
  padding: 8px;
  width: 140px;
}

body.your-turn #player-turn-indicator-holder {
  background-color: gold;
}
#endTurn {
  pointer-events: auto;
  display: none;
}
body.your-turn #endTurn {
  display: block;
}
#player-turn-indicator {
  display: block;
}
body.your-turn #player-turn-indicator {
  display: none;
}
/* Change turn indicator to red if you're low on time */
body.your-turn #player-turn-indicator-holder.low-time {
  background-color: red;
  font-size: large;
  font-weight: bold;
  color: white;
}

#websocket-pie-connection-status {
  transform: translate(0, 30px);
}

#inspector-tooltip {
  display: none;
  user-select: none;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
}
#inspector-tooltip.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
  position: absolute;
}
/* Transform position is determined on hover*/
#inspector-tooltip-container.top {
  top: 64px;
}
#inspector-tooltip-container.bottom {
  bottom: 0;
}
#inspector-tooltip-container.left {
  left: 64px;
}
#inspector-tooltip-container.right {
  right: 0;
}
#inspector-tooltip-container {
  border-radius: 10px 10px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 8px;
  width: 300px;
  white-space: pre-wrap;
  position: absolute;
}
