#game-container {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}
#board {
  border: 1px solid black;
  background-color: white;
  width: 800px;
  height: 800px;
}
