body {
  margin: 0;
  overflow: hidden;
}
#game-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#controls {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 64px;
  bottom: 0;
}
#board {
  visibility: hidden;
  position: relative;
}
#board-contents {
  user-select: none;
}
#board-highlights {
  position: absolute;
  pointer-events: none;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  visibility: hidden;
}
.highlight {
  position: absolute;
  top: 0;
  left: 0;
}
.phase-cast #board-highlights {
  visibility: visible;
}
.game-image {
  position: absolute;
}
.game-image img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}
/* Direct descendants are positioned perfectly on top of game-image */
.game-image > * {
  position: absolute;
  top: 0;
  left: 0;
}

#debug {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.doob-stats {
  margin-top: 40px;
}

.floating-text {
  position: absolute;
  transform: translateX(-50%);
  z-index: 1;
  pointer-events: none;
  user-select: none;
}

#tooltip {
  border-radius: 10px;
  width: 400px;
  min-height: 200px;
  margin: 8px auto;
  padding: 8px;
  background-color: #eee;
}
#spell-pool {
  position: fixed;
  bottom: 130px;
  left: 0;
  right: 0;
  text-align: center;
}

#card-hand {
  position: fixed;
  bottom: 0;
  left: 80px;
  right: 80px;
  z-index: 1;
  border: 2px solid pink;
  height: 100px;
}
#card-hand .card {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
}
#card-hand .card.selected {
  -webkit-box-shadow: 0px 0px 5px 5px #ffee00;
  box-shadow: 0px 0px 5px 5px #ffee00;
  top: -100px;
}
body.your-turn .card {
  cursor: pointer;
}
#card-holder .card {
  border: 4px solid black;
  padding: 8px;
  margin: 8px;
  width: 225px;
  height: 350px;
  background-color: white;
  border-radius: 10px 10px;
  pointer-events: all;
  display: flex;
}
.card-inner {
  border: 2px solid black;
  border-radius: 4px 4px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-grow: 1;
}
.card-thumb {
  background-color: white;
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-thumb img {
  width: 64px;
  height: 64px;
}
.card-description {
  background-color: #68c668;
  flex-grow: 3;
  padding: 8px;
  color: white;
  text-align: center;
  font-weight: bold;
}

#player-turn-indicator-holder {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  pointer-events: none;
  background-color: grey;
}
#player-turn-indicator-holder div {
  padding: 8px;
}

body.your-turn #player-turn-indicator-holder {
  background-color: gold;
}
/* Change turn indicator to red if you're low on time */
body.your-turn #player-turn-indicator-holder.low-time {
  background-color: red;
  font-size: large;
  font-weight: bold;
  color: white;
}

.health {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
}
.health-missing {
  filter: grayscale(1);
}
#health-theirs {
  top: -20px;
}
#health-mine {
  bottom: -20px;
}
