body {
  margin: 0;
  overflow: hidden;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

#PIXI-holder {
  flex: 1 1 auto;
}

#PIXI-holder canvas {
  display: block;
  /* This allows the parent to shrink when the window is resized */
  position: absolute;
}

#underworld-container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

#game-content-holder {
  display: none;
}

body.view-Game #game-content-holder {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 100vh;
  pointer-events: none;
  margin: 65px 0 0 8px;
}

.doob-stats {
  margin-top: 70px;
  margin-left: 10px;
}

.floating-text {
  position: absolute;
  transform: translateX(-50%);
  z-index: 1;
  pointer-events: none;
  user-select: none;
}

#vote-level-label {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 24px;
  /* Render above pixi */
  z-index: 1;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  pointer-events: none;
}


#upgrade-picker {
  position: fixed;
  top: 80px;
  bottom: 80px;
  left: 80px;
  right: 80px;
  z-index: 1;
  /* default to hidden */
  display: none;
  /* This parent disallows clicks so that if it is empty and covers
  the screen clicks will pass through it */
  pointer-events: none;
}

#upgrade-picker.active {
  display: block;
}

#upgrade-picker-content {
  justify-content: center;
  align-items: center;
  display: flex;
  pointer-events: all;
}

#upgrade-picker-label {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 24px;
}

#upgrade-picker .card {
  width: 100%;
  max-width: 300px;
  margin: 8px;
}

#upgrade-picker .card-inner {
  height: 500px;
  width: 100%;
}

#upgrade-picker .card-title {
  text-align: center;
  color: white;
}

#upgrade-picker .card-thumb {
  height: 180px;
}

body.inspect-mode {
  cursor: help;
}

body.inspect-mode #card-inspect {
  display: flex;
}

#card-inspect {
  /*Hidden until inspect-mode reveals it*/
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  flex-direction: column;
}

#card-inspect .card-inner {
  width: 300px;
  height: 400px;
  border-width: 8px;
}

#card-inspect .card-inner .card-thumb {
  height: 150px;
}

/* Hide cards unless you're in the game view */
body.view-Game #card-holders {
  display: flex;
}

#card-holders {
  user-select: none;
  display: none;
  flex-direction: column-reverse;
}

#card-holders>div {
  margin-top: 8px;
}

#card-holders #selected-cards,
#card-holders #card-hand {
  display: flex;
  justify-content: center;
  /* High enough for cards even if there are no cards inside */
  min-height: 100px;
}

#card-hand {
  /* This prevents the card-hand from disappearing when all cards are selected */
  min-height: 103px;
  /* Leaves enough room at the bottom to show the hotkey badge */
  margin-bottom: 20px;
}

#card-hand .card img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

#selected-cards.hide {
  filter: grayscale(50%);
  opacity: 50%;
}

/* The group of similar cards has a padding the same size as the width of a card inner so that
the face of the last card in the group is seen*/
.card-type-group {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 3px;
}

.card-type-group:empty {
  padding-right: 0;
  margin-right: 0;
}

.card:hover {
  transform: translate(0, -8px);
}

.card {
  cursor: pointer;
  position: relative;
  transition: all 0.1s;

}

#card-holder .card {
  padding: 8px;
  margin: 8px;
  width: 225px;
  height: 350px;
  background-color: white;
  border-radius: 10px 10px;
  pointer-events: all;
  display: flex;
}

.card-badge-holder {
  display: flex;
  position: absolute;
  top: -8px;
  left: -8px;
}

.card-badge {
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 24px;
  color: white;
  text-align: center;
}

.card-badge.hidden {
  display: none;
}

.card-mana-badge {
  background-color: #5656d5;
  border: 2px solid #5656d5;
}

.card-mana-badge.modified-by-usage {
  border: 2px solid #434380;
}

.card-health-badge {
  background-color: #d55656;
  border: 2px solid #d55656;
}

.card-health-badge.modified-by-usage {
  border: 2px solid #863e3e;
}

.hotkey-badge-holder {
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/* Do not show hotkey badges on already selected cards,
these badges only belong on cards in the hand */
#selected-cards .hotkey-badge {
  display: none;
}

.hotkey-badge:empty {
  display: none;
}

.hotkey-badge {
  height: 16px;
  width: 16px;
  line-height: 16px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid black;
  border-radius: 16px 16px;
  padding: 2px;
  font-size: 12px;
  text-align: center;
}

.hotkey-badge.wide {
  width: auto;
  margin: 0 15px;
  padding: 0 4px;
}

.card-inner {
  width: 70px;
  border-width: 4px;
  border-style: solid;
  border-radius: 4px 4px;
  flex-direction: column;
  flex-grow: 1;
}

.card-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-thumb img {
  width: 64px;
  height: 64px;
}

#card-inspect .card-thumb img {
  width: 128px;
  height: 128px;
  image-rendering: pixelated;
}

.card-title {
  font-size: 12px;
  flex-grow: 3;
  padding: 8px;
  color: white;
  text-align: center;
  text-transform: capitalize;
  white-space: nowrap;
}

#card-inspect .card-title {
  font-size: 30px;
  font-weight: bold;
}

.card-description {
  /* Only shows within card-inspect*/
  display: none;
  flex-grow: 3;
  padding: 8px;
  color: white;
  text-align: center;
}

#upgrade-picker-content .card-description,
#card-inspect .card-description {
  display: block;
}

/* only show when in game view */
body.view-Game #player-turn-indicator-holder {
  display: flex;
}

/* Hide end turn button until it is your turn */
#player-turn-indicator-holder {
  text-align: center;
  display: none;
  justify-content: center;
  background-color: grey;
  user-select: none;
}

#player-turn-indicator-holder>div {
  padding: 8px;
  width: 140px;
}

body.your-turn #player-turn-indicator-holder {
  background-color: gold;
}

#menuBtn {
  position: absolute;
  top: 6px;
  left: 6px;
  z-index: 1;
}


body.your-turn #end-turn-btn {
  opacity: 1.0;
}

#end-turn-btn {
  opacity: 0.5;
}

#end-turn-btn.highlight {
  animation: blink-end-turn-animation 1.0s steps(5, start) infinite;
}


@keyframes blink-end-turn-animation {

  0%,
  100% {
    color: black;
    border: 2px black solid;
  }

  50% {
    color: red;
    border: 2px red solid;
  }
}

#player-turn-indicator {
  display: block;
}

body.your-turn #player-turn-indicator {
  display: none;
}

#inspector-tooltip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
  user-select: none;
  z-index: 1;
  display: block;
}

/* Transform position is determined on hover*/
#inspector-tooltip-container.top {
  top: 64px;
}

#inspector-tooltip-container.bottom {
  bottom: 0;
}

#inspector-tooltip-container.left {
  left: 64px;
}

#inspector-tooltip-container.right {
  right: 0;
}

#inspector-tooltip-content {
  border: 30px solid;
  border-image: url('images/border-diamonds.png') 30 / 1 / 0 stretch;
  /* border-radius: 10px 10px; */
  background-color: rgba(255, 255, 255, 0.7);
  padding: 8px;
  width: 300px;
  white-space: pre-wrap;
}

#health-mana-and-spell-cost-holder {
  display: flex;
  justify-content: center;
}

#spell-cost {
  display: flex;
}

#spell-mana-cost {
  font-size: xx-large;
  background-color: #5656d5;
  border: 4px solid #5656d5;
  color: white;
  margin: 0 auto;
  border-radius: 100% 100%;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
}

#spell-mana-cost.hidden {
  display: none;
}

#spell-mana-cost:empty {
  display: none;
}

#spell-health-cost {
  font-size: xx-large;
  background-color: #d55656;
  border: 4px solid #d55656;
  color: white;
  margin: 0 auto;
  border-radius: 100% 100%;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
}

#spell-health-cost:empty {
  display: none;
}

#spell-health-cost.hidden {
  display: none;
}

#ready-state {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1;
}

#health-mana {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* Display above pixi */
  z-index: 1;
}

.health-mana-bar {
  width: 200px;
  height: 32px;
  border-radius: 6px;
  border: 2px solid black;
  margin: 2px auto;
}

#health,
#mana,
#stamina {
  overflow: hidden;
  position: relative;
}

#stamina {
  height: 16px;
}

#health-mana #stamina .label {
  line-height: 16px;
}

#health .fill {
  background-color: #d55656;
}

#stamina .fill {
  background-color: #d5b356;
}

#mana .fill {
  background-color: #5656d5;
  position: absolute;
}

#mana .fill:nth-child(2) {
  background-color: #8d56d5;
}

#mana .fill:nth-child(3) {
  background-color: #4e1172;
}

#health-mana .fill {
  height: 100%;
  width: 100%;
  transition: width 0.1s ease;
}

#health-mana .label {
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  line-height: 32px;
  color: white;
}

#selected-cards .card {
  position: relative;
}

#selected-cards .card.requires-following-card:last-child:before {
  content: "Requires another spell";
  color: white;
  background-color: rgba(253, 98, 98, 0.596);
  height: 85%;
  margin-top: 5%;
  width: 90%;
  border: 4px red dotted;
  border-left: 0;
  position: absolute;
  left: 70px;
  top: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transform: translate3d(0, 0, 0);
}

#selected-cards .card.requires-following-card.blink:last-child:before {
  animation: blink-animation 0.5s steps(5, start) infinite, shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
}

.shake {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
}

@keyframes blink-animation {
  to {
    border: 4px red solid;
    border-left: 0;
  }
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(0, -1px, 0);
  }

  20%,
  80% {
    transform: translate3d(0, 2px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(0, -4px, 0);
  }

  40%,
  60% {
    transform: translate3d(0, 4px, 0);
  }
}

#version {
  color: white;
  position: absolute;
  top: 40px;
  right: 8px;
  font-size: 25px;
  text-align: right;
}

/* For server picker */
#menu #websocket-pie-connection-status {
  z-index: 1;
  /* Render the connection status inside of the #menu instead of
  it's default absolute positioning */
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
}

#menu input {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 250px;
  font-family: sans-serif;
}

#menu {
  /* menu starts out hidden until it is ready (due to it's dependencies) */
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#menu.ready {
  display: flex;
}

#menu.hidden {
  display: none;
}

#menu-inner {
  background-color: cadetblue;
  padding: 16px;
  border-radius: 10px;
  /* Display above card hand */
  z-index: 1;
}

#game-over {
  display: none;
  margin: 0 auto;
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: pink;
  left: 0;
  right: 0;
}

body.view-GameOver #game-over {
  display: block;
}

.prompt {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.4);
}

.prompt-inner {
  background-color: antiquewhite;
  padding: 16px;
  border-radius: 5px;
  max-width: 400px;

}

.prompt .button-holder {
  display: flex;
  justify-content: space-between;
}

.prompt .text {
  margin: auto 8px;
}

.jbutton {
  width: 120px;
  height: 60px;
  line-height: 40px;
  font-size: 18px;
  border-radius: 8px 8px;
  border: 2px solid black;
  text-align: center;
  position: relative;
  margin: 12px 8px;
  cursor: pointer;
}