:root {
  --selected-card-size: 32px;
}

.pad-15 {
  padding: 15px;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

#PIXI-holder {
  flex: 1 1 auto;
}

#PIXI-holder canvas {
  display: block;
}

#underworld-container {
  min-height: 100vh;
  min-width: 100vw;
}


#loading-screen {
  display: none;
  font-size: 162px;
  color: #6363ff;
  background: rgba(255, 255, 255, 0.3);
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: absolute;
  text-align: center;
  line-height: 100vh;
  top: 0;
  /* Render over top of the menu */
  z-index: 2;
}

body.loading #loading-screen {
  display: block;
}

body.loading.HUD-hidden #loading-screen {
  display: none;
}

/* Hide game content and underworld when the menu is open */
body.view-Menu #underworld-container {
  display: none;
}

.doob-stats.hide {
  display: none;
}

.doob-stats {
  margin-top: 10px;
  margin-left: 10px;
}

.floating-text {
  position: absolute;
  transform: translateX(-50%);
  z-index: 1;
  pointer-events: none;
  user-select: none;
}

#vote-level-label {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 24px;
  /* Render above pixi */
  z-index: 1;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  pointer-events: none;
}


#upgrade-picker {
  position: fixed;
  justify-content: center;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  /* default to hidden */
  display: none;
  background-color: rgba(0, 0, 0, 0.75);
}

body.view-Game.showUpgrades #upgrade-picker {
  display: flex;
}

#upgrade-picker-content {
  justify-content: center;
  align-items: center;
  display: flex;
  pointer-events: all;
}

#upgrade-picker-label {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 54px;
  margin-bottom: 12px;
  text-shadow: 2px 2px 2px #000;
}

#upgrade-picker .card,
#card-inspect .card {
  width: 100%;
  max-width: 300px;
  margin: 8px;
}



#upgrade-picker .card-badge,
#card-inspect .card-badge {
  width: 44px;
  height: 44px;
  line-height: 44px;
  border-radius: 44px;
  font-size: 24px;
}

#upgrade-picker .card-inner,
#card-inspect .card-inner {
  /* height matches the size of the backgroundimage */
  height: 370px;
  padding: 30px;
}

#upgrade-picker .card-title,
#card-inspect .card-title {
  text-align: center;
  color: white;
  font-size: 24px;
  margin: 0;
  padding: 0;
  height: unset;
}

#upgrade-picker .card-thumb,
#card-inspect .card-thumb {
  min-height: 64px;
  width: 100%;
  padding-top: 32px;
}


body #card-inspect {
  display: flex;
}

body.open-inventory #card-inspect {
  padding-left: 200px;

}

#card-inspect {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  flex-direction: column;
  /* Render over top of card hand */
  z-index: 2;
}

#card-inspect:empty {
  display: none;
}

#ui-positioner {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: end;
  position: fixed;
  bottom: 0;
}

#ui-holder {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  margin: 0 auto;
}

#card-holders {
  user-select: none;
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.7);
}

#card-holders-inner {
  display: flex;
  align-items: flex-start;
  flex-direction: column-reverse;
  gap: 20px;
}


#selected-cards,
#card-holders #card-hand {
  display: flex;
  max-width: 100vw;
}

#card-holders #card-hand {
  /* Leave room for the names of the spells */
  padding-bottom: 20px;
}

/* Give selected spells a rounded look to differentiate them */
#selected-cards .card-thumb {
  overflow: hidden;
}

#selected-cards {
  /* Selected cards should always have height even when empty so that the inventory doesn't move
  when cards are added to this element */
  min-height: 48px;
}

#card-hand .card img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

#selected-cards.hide {
  filter: grayscale(50%);
  opacity: 50%;
}


.card:hover {
  transform: translate(0, -5px);
}

.card {
  position: relative;
  transition: all 0.1s;
  width: 64px;
  margin: 8px;
}

.card.selected {
  height: var(--selected-card-size);
  margin-right: 8px;
  display: flex;
  width: 40px;
}

.card.selected:last-child:after {
  content: "";
}

.card.selected:after {
  content: "›";
  font-weight: bold;
  color: white;
  font-size: 2em;
  line-height: var(--selected-card-size);
  padding: 0 8px;
}

.card.selected .card-inner {
  width: var(--selected-card-size);
}

.card.selected .card-thumb {
  width: var(--selected-card-size);
}

.card.selected .card-thumb img {
  width: var(--selected-card-size);
  height: var(--selected-card-size);
}

#card-inspect .card,
#upgrade-picker .card {
  background-image: url('images/card-designs/card-COMMON.png');
  background-size: contain;
  background-repeat: no-repeat;
}

#card-inspect .card.COMMON,
#upgrade-picker .card.COMMON {
  background-image: url('images/card-designs/card-COMMON.png');
}

#card-inspect .card.SPECIAL,
#upgrade-picker .card.SPECIAL {
  background-image: url('images/card-designs/card-SPECIAL.png');
}

#card-inspect .card.UNCOMMON,
#upgrade-picker .card.UNCOMMON {
  background-image: url('images/card-designs/card-UNCOMMON.png');
}

#card-inspect .card.RARE,
#upgrade-picker .card.RARE {
  background-image: url('images/card-designs/card-RARE.png');
}

#card-inspect .card.FORBIDDEN,
#upgrade-picker .card.FORBIDDEN {
  background-image: url('images/card-designs/card-FORBIDDEN.png');
}

/* Disable dragging for card thumbnails */
.card img {
  pointer-events: none;
}

#card-holder .card {
  width: 225px;
  height: 350px;
  background-color: white;
  border-radius: 10px 10px;
  pointer-events: all;
  display: flex;
}

.card-badge-holder {
  display: flex;
  position: absolute;
  top: -8px;
  left: -8px;
}

.card.selected .card-badge-holder {
  top: -18px;
  left: -18px;
}

.card-badge {
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 24px;
  color: white;
  text-align: center;
}

.card-badge.hidden {
  display: none;
}

.card-mana-badge {
  background-color: #5656d5;
  border: 2px solid #3c3c94;
  transform-style: preserve-3d;
}

.card-mana-badge.modified-by-usage {
  border: 2px solid #04042b;
  color: #04042b;
  /* Bumping a modified card-mana-badge to the right 5px
  is a visual trick to make the :before element
  appear to be the original cost */
  left: 5px;
  position: relative;

}

.card-mana-badge.modified-by-usage:before {
  content: "";
  width: 24px;
  height: 24px;
  border: 2px solid #04042b;
  /* translateZ and transform-style:preserve-3d on .card-mana-badge makes sure
  the :before renders behind the regular one */
  transform: translateX(-5px) translateY(0px) translateZ(-1px);
  background-color: #5656d5;
  display: block;
  border-radius: 24px;
  /* Prevents pushing badge label to next line */
  position: absolute;
}

.card-health-badge {
  background-color: #d55656;
  border: 2px solid #d55656;
}

.card-health-badge.modified-by-usage {
  border: 2px solid #522626;
  color: #522626;
}

.jbutton .hotkey-badge-holder {
  bottom: -16px;
}

.hotkey-badge-holder {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  pointer-events: none;
}

.card:hover .hotkey-badge-holder {
  visibility: visible;
}

.card .hotkey-badge-holder {
  visibility: hidden;
  bottom: -40px;
}

.card .hotkey-badge-holder kbd {
  font-size: 1em;
}

/* Do not show hotkey badges on already selected cards,
these badges only belong on cards in the hand */
#selected-cards .hotkey-badge {
  display: none;
}

.hotkey-badge:empty {
  display: none;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
  color: #333;
  display: inline-block;
  font-size: .75em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

.card-inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-thumb {
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-thumb img {
  width: 64px;
  height: 64px;
}

.card-rarity {
  text-align: center;
  color: white;
  text-transform: capitalize;
}

.card-title {
  font-size: 12px;
  color: white;
  text-align: center;
  text-transform: capitalize;
  white-space: nowrap;
  /* max-height: 30px; */
  /* For new card template */
  padding: 4px;
  height: 18px;
}

#card-inspect .card-title {
  font-size: 30px;
  font-weight: bold;
}

.card-description {
  /* Only shows within card-inspect*/
  display: none;
  flex-grow: 2;
  padding: 28px;
  padding-top: 5px;
  color: white;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

#upgrade-picker-content .card-description,
#card-inspect .card-description {
  display: flex;
}

/* Hide HUD */
body.HUD-hidden .doob-stats,
body.HUD-hidden #inspector-tooltip {
  display: none;
}

body.HUD-hidden #PIXI-holder {
  z-index: 3;
}

/* Hide a subset of HUD */
body.recording #inventory-icon,
body.recording #inspector-tooltip,
body.recording #end-turn-btn {
  display: none !important;
}

.hide-card-holders #card-holders {
  display: none;
}

body.your-turn #end-turn-btn {
  opacity: 1.0;
}

#end-turn-btn {
  /* z-index set explicitly to make sure it renders overtop of the cardhand so that it will
  change the cursor from a cursor-casting to just cursor */
  z-index: 2;
  opacity: 0.5;
  /* Match the size of the inventory icon so the toolbar remains centered */
  width: 80px;
  height: 106px;
  white-space: normal;
  /* Overrides jbutton styles */
  /* Ensures that the toolbar remains centered on the screen */
  margin: 0;
}

#end-turn-btn.highlight .hotkey-badge {
  animation: blink-end-turn-animation 1.0s steps(5, start) infinite;
}


@keyframes blink-end-turn-animation {

  0%,
  100% {
    color: black;
    background-color: white;
  }

  50% {
    color: white;
    background-color: red;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 0, 0, .7) inset;
  }
}

#inspector-tooltip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
  user-select: none;
  z-index: 1;
  display: block;
  position: absolute;
  right: 8px;
  top: 110px;
}

#inspector-tooltip-content {
  white-space: pre-wrap;
}

/* Transform position is determined on hover*/
#inspector-tooltip-container.top {
  top: 64px;
}

#inspector-tooltip-container.bottom {
  bottom: 0;
}

#inspector-tooltip-container.left {
  left: 64px;
}

#inspector-tooltip-container.right {
  right: 0;
}

#inspector-tooltip-container {
  border: 30px solid;
  border-image: url('images/border-diamonds.png') 30 / 1 / 0 stretch;
  /* border-radius: 10px 10px; */
  background-color: rgba(255, 255, 255, 0.7);
  padding: 8px;
  width: 300px;
}

.text-center {
  text-align: center;
}

#health-mana-holder {
  display: flex;
  margin-top: 8px;
  /* Allows children to grow */
  width: 100%;
}

#ready-state {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1;
}

#health-mana {
  display: flex;
  justify-content: center;
  /* Display above pixi */
  z-index: 1;
  gap: 15px;
  /* Allows children to grow */
  width: 100%;
}

.health-mana-bar {
  height: 32px;
  flex: 1 1 0;
  border-radius: 3px;
  border: 1px solid #262324;
  background-color: #262324;
}

#health,
#mana,
#stamina {
  overflow: hidden;
  position: relative;
}

#health-mana .cost {
  position: absolute;
  top: 0;
  height: 100%;
}

#health .cost {
  background: repeating-linear-gradient(45deg,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0) 10px,
      #984646 10px,
      #984646 20px) fixed;
}

#health .fill {
  background-color: #d55656;
  position: absolute;
}

/* 2nd health fill is for shield */
#health .fill:nth-child(2) {
  background-color: #ffdaaf;
}

/* 2nd health cost is for shield */
#health .cost:nth-child(4) {
  background: repeating-linear-gradient(45deg,
      #f8d36b,
      #f8d36b 10px,
      rgba(0, 0, 0, 0.0) 10px,
      rgba(0, 0, 0, 0.0) 20px) fixed;
}

#stamina .fill {
  background-color: #d5b356;
}


#mana .fill {
  background-color: #5656d5;
  position: absolute;
}

#mana .cost:nth-child(4) {
  background: repeating-linear-gradient(45deg,
      rgba(0, 0, 0, 0.0),
      rgba(0, 0, 0, 0.0) 10px,
      rgb(49, 40, 180) 10px,
      rgb(49, 40, 180) 20px) fixed;
}

#mana .fill:nth-child(2) {
  background-color: rgb(141, 86, 213);
}

#mana .cost:nth-child(5) {
  background: repeating-linear-gradient(45deg,
      #5656d5,
      #5656d5 10px,
      rgba(0, 0, 0, 0.0) 10px,
      rgba(0, 0, 0, 0.0) 20px) fixed;
}

#mana .fill:nth-child(3) {
  background-color: #4e1172;
}

#mana .cost:nth-child(6) {
  background: repeating-linear-gradient(45deg,
      rgba(0, 0, 0, 0.0),
      rgba(0, 0, 0, 0.0) 10px,
      rgb(141, 86, 213) 10px,
      rgb(141, 86, 213) 20px) fixed;
}

#health-mana .fill {
  height: 100%;
  width: 100%;
  transition: width 0.1s ease;
}

#health-mana .label {
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  line-height: 32px;
  color: white;
}

#selected-cards .card {
  position: relative;
}

#selected-cards .card.requires-following-card:last-child:before {
  content: "Requires a following spell to modify";
  color: white;
  background-color: rgba(253, 98, 98, 0.596);
  border: 4px red dotted;
  border-left: 0;
  position: absolute;
  left: var(--selected-card-size);
  top: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transform: translate3d(0, 0, 0);
  height: 24px;
  padding: 0 8px;
  white-space: nowrap;
  line-height: 70px;
}

#selected-cards .card.requires-following-card.blink:last-child:before {
  animation: blink-animation 0.5s steps(5, start) infinite, shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
}

.shake {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
}


@keyframes blink-animation {
  to {
    border: 4px red solid;
  }
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(0, -1px, 0);
  }

  20%,
  80% {
    transform: translate3d(0, 2px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(0, -4px, 0);
  }

  40%,
  60% {
    transform: translate3d(0, 4px, 0);
  }
}


.view-Menu #version,
.view-Disconnected #version {
  display: block;
}

#version {
  display: none;
  color: white;
  position: absolute;
  top: 25px;
  right: 8px;
  font-size: 25px;
  text-align: right;
  z-index: 1;
}

#logo {
  width: 100%;
  margin: 0 auto;
}

#menu-app {
  /* menu starts out hidden until it is ready (due to it's dependencies) */
  display: none;
}

.view-Menu #menu-app.ready {
  display: flex;
}

#game-over {
  display: none;
  margin: 0 auto;
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: pink;
  left: 0;
  right: 0;
}

body.view-GameOver #game-over {
  display: block;
}

.prompt {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.4);
}

.prompt-inner {
  background-color: antiquewhite;
  padding: 16px;
  border-radius: 5px;
  max-width: 400px;

}

.prompt .button-holder {
  display: flex;
  justify-content: space-between;
}

/* If prompt only has one button, center it */
.prompt .button-holder .jbutton:first-child:nth-last-child(1) {
  margin: 12px auto;
}

.prompt .text {
  margin: auto 8px;
  white-space: pre-line;
}

.jbutton {
  height: 60px;
  line-height: 40px;
  font-size: 18px;
  border-radius: 8px 8px;
  border: 2px solid black;
  text-align: center;
  position: relative;
  margin: 12px 8px;
  white-space: nowrap;
  padding: 0 15px;
}

td:first-child {
  text-align: right;
  border-right: 1px solid white;
  padding-right: 4px;
}

#version-info-headless-server,
#version-info,
#graphics-disclaimer,
#seed {
  font-size: small;
}

#cookie-consent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  height: 100vh;
}

#cookie-consent-inner {
  border: 1px solid black;
  padding: 4px;
  background-color: white;
  z-index: 1;
  max-width: 600px;

}

#pie-disconnected {
  display: none;
}

body.view-Disconnected #pie-disconnected {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(37, 0, 0);
  z-index: 2;
  justify-content: center;
  align-items: center;
  color: white;
}

body.view-Disconnected #websocketpie-connection-status {
  display: block;
  z-index: 1;
  position: absolute;
  top: 52%;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

body.view-Menu #websocketpie-connection-status {
  display: block;
}

#websocketpie-connection-status {
  display: none;
  z-index: 1;
  position: absolute;
  top: 5px;
  right: 5px;
}

/* Show that camera is being dragged with the mouse */
body.draggingCamera {
  cursor: grabbing;
}

.card.upgrade.chosen {
  opacity: 0.5;
}

.card-common {
  border-image: url('images/card-borders/cardCommonBorder.png') 30 / 1 / 0 stretch;
}

.card-rare {
  border-image: url('images/card-borders/cardRareBorder.png') 30 / 1 / 0 stretch;
}

body.open-inventory #inventory-content {
  display: flex;
}

#inventory-content {
  background-color: rgba(0, 0, 0, 0.7);
  /* Needed to display in front of pixi */
  z-index: 1;
  max-width: 600px;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  /* Always be at least big enough for 3 spells side-by-side. This is just visual appeal*/
  min-width: 240px;
}

#inventory-content .category {
  display: flex;
  flex-wrap: wrap;
}

#inventory-content .category-label {
  display: none;
  color: white;
  white-space: nowrap;
}

#inventory-content .category-label.visible {
  display: block;
}

.slot {
  margin: 8px;
  width: 64px;
  height: 64px;
}

.slot .card-inner,
#inventory .card-inner {
  width: 64px;
}

.empty-slot {
  width: 64px;
  height: 64px;
  background-image: url('images/spell/toolbar-slot.png')
}

#inventory-icon {
  width: 80px;
  height: 106px;
  background-image: url('images/card-designs/bookStone.png');
  transition: all 0.2s;
}

body.open-inventory #inventory-icon {
  filter: drop-shadow(0 0 0.4rem rgb(0, 243, 255));
}

#inventory-icon:hover {
  transform: translate(0, -8px);
}

/* Glow to signify that this toolbar element is active and will change if an inventory item is selected */
#card-hand .active-toolbar-element {
  box-shadow: 0px 0px 11px 4px rgba(242, 234, 0, 1);
}

#lobby {
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;
  display: none;
}

body.view-Menu #lobby {
  display: block;
}

/* Dev util right click context menu */
#ctxmenu {
  position: fixed;
  background: ghostwhite;
  color: black;
  border: 1px black solid;
  padding: 0 1rem;
}

#ctxmenu li {
  margin: 0;
}

#ctxmenu li:hover {
  background: black;
  color: ghostwhite
}


body,
button {
  cursor: url('cursor.png'), auto;
}

body.casting {
  cursor: url('cursor-cast.png') 18 18, auto;
}

body.casting.outOfRange {
  cursor: url('cursor-cast-out-of-range.png') 18 18, auto;
}

body.casting .card,
body.casting #inventory,
body.casting #end-turn-btn {
  cursor: url('cursor.png'), auto;
}

body.view-Game #instructions {
  display: block;
}

#instructions {
  display: none;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 54px;
  margin-bottom: 12px;
  text-shadow: 2px 2px 2px #000;
  position: absolute;
  top: 220px;
  z-index: 1;
  width: 60%;
  margin: 0 auto;
  left: 0;
  right: 0;
  pointer-events: none;
}

/* Modified from https://codepen.io/hzlo/pen/VweYrLX */
.hazard-border {
  border: 10px solid pink;
  border-image: repeating-linear-gradient(-55deg,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0) 20px,
      rgba(196, 53, 53, 1.0) 20px,
      rgba(196, 53, 53, 1.0) 40px) 10;
}

/* caution-box styling modified from https://codepen.io/evilpeacock/pen/OJyyBBP */
#caution-box-positioner {
  pointer-events: none;
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 220px;

}

#caution-box {
  margin: 0 auto;
  display: none;
}

#caution-box.visible {
  display: block;
}

#caution-box #caution-box-text {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

#caution-box {
  max-width: 500px;
  box-sizing: border-box;
  padding: 10px;
  position: relative;
  overflow: hidden;
  --color-error: #d55656;
  --color-error2: #8d3a3a;
  --color-background: #d55656;
  color: white;
}

#caution-box::before {
  content: '';
  position: absolute;
  left: 50%;
  width: 150%;
  height: 1000%;
  background: repeating-linear-gradient(var(--color-error2) 0%,
      var(--color-error2) 7.5px,
      var(--color-error) 7.5px,
      var(--color-error) 15px,
      var(--color-error2) 15px,
      var(--color-error2) 22.5px,
      var(--color-error) 22.5px,
      var(--color-error) 30px);
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  animation: animate-caution-box 20s linear infinite;
}

#caution-box #caution-box-text {
  /*display: none;*/
  position: relative;
  background-color: var(--color-background);
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.8em;
  z-index: 2;
}

#caution-box,
#caution-box #caution-box-text {
  border-radius: 4px;
}

#caution-box #caution-box-text a {
  text-decoration: none;
  color: #111;
}

@keyframes animate-caution-box {
  from {
    background-position: 0;
  }

  to {
    background-position: 0 250px;
  }
}

#ctxmenu {
  display: flex;
  gap: 8px;
}

#ctxmenu div p {
  font-weight: bold;
  white-space: nowrap;
}

#ctxmenu ul {
  border-left: 1px solid black;
}

.ui-container {
  border: 10px solid;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 30;
  border-image-source: url("/ui/UI_Icon_Border_QtrCircle_3.png");
  border-image-width: 1;

}